##### Setting up
Want to be able to view the tables available and the attributes of the tables

Change the url of DB_URL and name of DB_NAME

In [65]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

DB_URL = "https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite?raw=true"
DB_NAME = "Chinook.db"

!wget -q -O $DB_NAME $DB_URL
%sql sqlite:///$DB_NAME
from sidecar import Sidecar

Some Wizardry to Display Table names on the left

In [66]:
%%capture tablesStr
!sqlite3 $DB_NAME .table

In [149]:
!sqlite3 $DB_NAME .table > tables.txt
tables = tablesStr.stdout.split()
tables.sort()
AllTables = " ".join([table for table in tables])

In [ ]:
SELECT name FROM pragma_table_info('Album')

In [160]:
SC = [Sidecar(title='Tables'), Sidecar(title='All Table Attributes'), Sidecar(title='DDL of Tables')]
with SC[0]:
    !./TableView.sh Chinook.db $AllTables 
with SC[1]:
        !./getAttributes.sh Chinook.db $AllTables 
with SC[2]:
    !sqlite3 Chinook.db .schema

In [63]:
%%sql
SELECT * 
FROM Album
LIMIT 10

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8)]

In [64]:
%%bash
sqlite3 Chinook.db
SELECT * FROM Album
LIMIT 10;
.quit

1|For Those About To Rock We Salute You|1
2|Balls to the Wall|2
3|Restless and Wild|2
4|Let There Be Rock|1
5|Big Ones|3
6|Jagged Little Pill|4
7|Facelift|5
8|Warner 25 Anos|6
9|Plays Metallica By Four Cellos|7
10|Audioslave|8